<a class="swiper-slide article" href="{{ article.url }}">
	<div class="article-image">
		<img src="{{ article.image | img_url: '500x' }}" alt="article image">
	</div>
	<div class="article-content">
		<div class="article-title">
			{{ article.title }}
		</div>
	</div>
</a>