{% assign collection = collections[block.settings.collection] %}
{% assign image = block.settings.image %}
<div class="swiper-slide collection-card">
	<a href="{{ collection.url }}">
		<img alt="alt text" class="collection-card__image" src="{{ image | img_url: '500x' }}">
		<h3 class="collection-card__title">
			{{ collection.title }}
		</h3>
	</a>
</div>