<div class="col-xs-3 sidebar collection-sidebar">
  {% comment %}
  Refined tags
  {% endcomment %}
<div class="widget sidebar-links">
  <div class="widget-title">
    <h3>
        <span>Shop For</span>
    </h3>
  </div>

  {% for link in linklists.shop.links %}
    <button class="accordion">{{ link.title }}</button>
    <div class="panel">
      {% capture mm_vend %}{{ link.title | handleize }}{% endcapture %}
      {% for link in linklists.[mm_vend].links %}
        {{ link.title }}<br>
      {% endfor %}
    </div>
  {% endfor %}
  <br><hr>
</div>

  <style>
    @media (min-width: 767px) {
    button.accordion {
        background-color: #fff;
        color: #000;
        cursor: pointer;
        padding: 0px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        line-height: 2;
        font-weight: 700;
        transition: 0.4s;
        width: 100%;
        font-size: 12px;
        display: inline-block;
    }


    button.accordion.active, button.accordion:hover {
        background-color: #fff;
    }


    button.accordion.active::after {
      content: " -";
    }

    button.accordion::after {
      content: " +";
    }

    div.panel {
        padding: 0 0px;
        display: none;
        line-height: 2;
        background-color: white;
        text-align: left;
        width: 100%!important;
        float:left!important;
        font-size: 12px;
    }

    div.panel.show {
        display: block;
    }
  }

  @media (max-width: 766px) {
  button.accordion {
      background-color: #fff;
      color: #000;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      transition: 0.4s;
      width: 100%;
      font-size: 14px;
      display: inline-block;
  }



  button.accordion.active, button.accordion:hover {
      background-color: #fff;
  }


    button.accordion.active::after {
      content: " -";
    }

    button.accordion::after {
      content: " +";
    }

  div.panel {
      padding: 0 18px;
      display: none;
      background-color: white;
      text-align: left;
      float:left!important;
      font-size: 14px;
  }

  div.panel.show {
      display: block;
  }
  }
    </style>

    <script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].onclick = function(){
            this.classList.toggle("active");
            this.nextElementSibling.classList.toggle("show");
      }
    }
    </script>


  {% if settings.display_sidebar_categories %}
  <div class="widget sidebar-links">
    <div class="widget-title">
      <h3>
          <span>Sort By</span>
      </h3>
    </div>
    {% include 'collection-sort' %}
  </div>
  {% endif %}


  {% include 'collection-sidebar-shop-by-blocks' %}

  {% if settings.show_featured_product %}
  {% include 'collection-sidebar-featured-products' %}
  {% endif %}

  {% if settings.display_banner_sidebar %}
  {% include 'collection-sidebar-banner-block' %}
  {% endif %}

  {% if settings.display_sidebar_custom %}
  {% include 'collection-sidebar-custom-cms-block' %}
  {% endif %}

</div>
