{% if shop.customer_accounts_enabled %}
{% if customer %}
<ul class="customer-links hidden-xs">
  <li class="hidden-xs wishlist" ><a href="#" data-reveal-id="myModal"><i class="fa fa-search" aria-hidden="true"></i></a></li>
  {% if settings.enable_wishlist %}
  <li class="wishlist"><a href="#swym-wishlist" {% if settings.enable_multilang %}data-translate="wishlist.general.my_wishlist"{% endif %}><span class="icon">&nbsp;</span></a></li>
  {% endif %}
  <li>
    <a href="/account" {% if settings.enable_multilang %}data-translate="customer.account.title"{% endif %}><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
  </li>
</ul>
{% else %}
<ul class="customer-links hidden-xs">
  <li class="hidden-xs wishlist" ><a href="#" data-reveal-id="myModal"><i class="fa fa-search" aria-hidden="true"></i></a></li>
  {% if settings.enable_wishlist %}
  <li class="wishlist">

    <a href="#swym-wishlist" {% if settings.enable_multilang %}data-translate="wishlist.general.my_wishlist"{% endif %}><span class="icon">&nbsp;</span></a>
  </li>
  {% endif %}
  <li>
    <a id="customer_login_link" href="/account/login" {% if settings.enable_multilang %}data-translate="customer.login.sign_in"{% endif %}><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
  </li>
</ul>
{% endif %}
{% endif %}
