<div class="jewelry-value">
  <a class="value-item" href="https://amandapearl.com/pages/shipping" target="_blank">
    <img src="{{ 'free-shipping.png' | asset_img_url: '200x'}}"/>
    <span>Free Shipping & Returns</span>
  </a>

  <a class="value-item" href="https://amandapearl.com/blogs/amanda-pearl/materials-care-guide" target="_blank">
    <img src="{{ 'warranty.png' | asset_img_url: '200x'}}"/>
    <span>WARRANTY</span>
  </a>

  <a class="value-item" href="https://amandapearl.com/blogs/amanda-pearl/sustainable-gems" target="_blank">
    <img src="{{ 'sustainability.png' | asset_img_url: '200x'}}"/>
    <span>SUSTAINABLE MATERIALS</span>
  </a>

  <a class="value-item" href="https://amandapearl.com/blogs/amanda-pearl/fair-pricing" target="_blank">
    <img src="{{ 'no-retail.png' | asset_img_url: '200x'}}"/>
    <span>No Retail Markup</span>
  </a>
</div>