<div class="jewelry-value">
  <a class="value-item" href="/pages/shipping">
    <img src="{{ 'free-shipping.png' | asset_img_url: '200x'}}"/>
    <span>FREE SHIPPING & RETURNS</span>
  </a>

  <a class="value-item" href="/pages/shipping">
    <img src="{{ 'warranty.png' | asset_img_url: '200x'}}"/>
    <span>WARRANTY</span>
  </a>

  <a class="value-item" href="/pages/shipping">
    <img src="{{ 'sustainability.png' | asset_img_url: '200x'}}"/>
    <span>SUSTAINABLE MATERIALS</span>
  </a>

  <a class="value-item" href="/pages/shipping">
    <img src="{{ 'no-retail.png' | asset_img_url: '200x'}}"/>
    <span>No Retail Markup</span>
  </a>
</div>