<a name="the-customer"></a>
<h3 style="text-align: center;"><strong>THE CUSTOMER</strong></h3>
<div class="row">
<div class="col-xs-12 col-sm-6">
<img src="https://cdn.shopify.com/s/files/1/0240/3953/files/about-the-customer.jpg?9332890570894201107" width="100%">
</div>
<div class="col-xs-12 col-sm-6 right_align">
<p>The	AMANDA	PEARL	customer	sees	jewelry	not	just	as	an	item	to	adorn,	but	as	an
opportunity	to	communicate	strength	-	both	overtly,	as	well	as	in	a	more	subtle,
talismanic	way.	Our	customer	sees	the	idea	of	jewelry	as	armor	-	not	necessarily	in	a
defensive	way,	but	in	a	way	that	makes	them	feel	protected	and	reminds	them	of
their	inherent,	personal	strength.	Due	to	its	sculptural	and	organic	nature	it	makes
them	that	the	jewelry	is	a	natural	extension	of	one’s	form	that	highlights	and
enhances.	</p>
</div>
</div>

<a name="the-company"></a>
<h3 style="text-align: center;"><strong>THE COMPANY</strong></h3>
<div class="row">
<div class="col-xs-12 col-sm-6 left_align">
  <meta charset="utf-8" />
  <p>AMANDA PEARL is a New York City based accessories company known for striking, sculptural, and empowering jewelry and me;culously handmade-in-Italy clutches.</p>
  <p>Founded and designed by Seadle born Amanda Pearl Brotman, the collec;on is inspired by her Pacific Northwest roots, with nods to the shaping influences that she con;nues to reference - nature, science, music, and the visual and performing arts. AMANDA PEARL expanded into Fine Jewelry for Spring/Summer 2018, introducing the Ripples collec;on - referencing the beauty, strength and capacity of the sea. Inspired by the feminine and fluid shapes made on the ocean bodom by waves and ripples on the surface - outlines of energy and power - the collec;on is meant to be worn as a reminder of a woman’s strength and power.</p>
  <p>Amanda’s designs have been seen on women of influence such as Lupita Nyong’o, Meryl Streep, Gal Gadot, Jane Fonda, and Karlie Kloss, and in publica;ons such as Vogue, Bazaar, InStyle and WWD.</p>
  <p>AMANDA PEARL aims to bring beauty to the world beyond the realm of fashion. Always with eyes on the environment, the company produces as sustainably as possible, working with small ar;sanal producers, above ground diamonds, and cultured pearls - a natural resource that helps to maintain and improve water ecology. The company also supports causes that promote educa;on, the arts, child welfare, and conserva;on.</p>
</div>
<div class="col-xs-12 col-sm-6">
<img src="https://cdn.shopify.com/s/files/1/0240/3953/files/about-the-company.jpg?9876309301618339574" width="100%">
</div>
</div>


<a name="the-people"></a>
<h3 style="text-align: center;"><strong>THE PEOPLE</strong></h3>
<div class="row">
<div class="col-xs-12 col-sm-6">
<img src="https://cdn.shopify.com/s/files/1/0240/3953/files/about-the-people-amanda-brotman.jpg?4718195441679626677" width="100%">
</div>
<div class="col-xs-12 col-sm-6 right_align">
<p>The	AMANDA	PEARL	customer	sees	jewelry	not	just	as	an	item	to	adorn,	but	as	an
opportunity	to	communicate	strength	-	both	overtly,	as	well	as	in	a	more	subtle,
talismanic	way.	Our	customer	sees	the	idea	of	jewelry	as	armor	-	not	necessarily	in	a
defensive	way,	but	in	a	way	that	makes	them	feel	protected	and	reminds	them	of
their	inherent,	personal	strength.	Due	to	its	sculptural	and	organic	nature	it	makes
them	that	the	jewelry	is	a	natural	extension	of	one’s	form	that	highlights	and
enhances.	</p>
</div>
</div>
