<div class="product-badge">
	{% if product.tags contains 'bestseller' %}
		<h3 class="product-badge__title">BEST SELLER</h3>
	{% endif %}

	{% if product.tags contains 'only a few left' %}
		<h3 class="product-badge__title">Only a few left</h3>
	{% endif %}

	{% if product.tags contains 'bundle pricing' %}
		<h3 class="product-badge__title">Bundle Pricing</h3>
	{% endif %}

	{% if product.tags contains 'sale' %}
		<h3 class="product-badge__title">Sale</h3>
	{% endif %}

	{% if product.tags contains 'secret sale' %}
		<h3 class="product-badge__title">Secret Sale</h3>
	{% endif %}

	{% if product.tags contains 'sample sale' %}
		<h3 class="product-badge__title">Sample Sale</h3>
	{% endif %}

	{% if product.tags contains 'limited edition' %}
		<h3 class="product-badge__title">Limited Edition</h3>
	{% endif %}

	{% if product.tags contains 'one of a kind' %}
		<h3 class="product-badge__title">One of a kind</h3>
	{% endif %}
</div>