<div class="container">
	<div class="featured-blogs">
		<div class="featured-blogs__header">
			{% if section.settings.title != blank %}
				<h3 class="featured-blogs__title">
					{{ section.settings.title }}
				</h3>
			{% endif %}
			<div class="featured-blogs__action">
				<a href="/blogs/amanda-pearl">All Blogs</a>
				<div class="swiper-button-prev blog-swiper-prev"></div>
				<div class="swiper-button-next blog-swiper-next"></div>
			</div>
		</div>
		<div class="featured-blogs__container blog-swiper swiper-container">
			<div class="swiper-wrapper">
				{% if section.blocks.size > 0 %}
					{% for block in section.blocks %}
						{% assign article = articles[block.settings.article] %}
						{% include 'article-card' with article: article %}
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>
</div>
<style type="text/css">
	.featured-blogs {
		position: relative;
	}
	.featured-blogs__title {
		float: left;
		font-size: 24px;
		text-align: left;
		text-transform: uppercase;
	}
	.featured-blogs__action {
		display: flex;
		float: right;
		text-transform: uppercase;
		font-size: 18px;
	}
	.featured-blogs__header {
		margin-bottom: 30px;
	}
	.featured-blogs__header::after {
		content: " ";
		display: table;
		clear: both;
	}
	.article-content {
		margin-top: 20px;
	}
	.article-image img {
		width: 100%;
		object-fit: cover;
	}
	.featured-blogs .article {
		position: relative;
	}
	.featured-blogs__action .swiper-button-next, .featured-blogs__action .swiper-button-prev {
		color: #000;
		width: 30px;
    height: 30px;
    position: relative;
    top: 16px;
    left: 0;
	}
	.featured-blogs__action a {
		text-decoration: underline;
		text-underline-offset: 2px;
	}
	.featured-blogs__action .swiper-button-next::after, .featured-blogs__action .swiper-button-prev::after {
		font-size: 20px;
	}
	.article-content {
		position: absolute;
		bottom: 0;
		width: 100%;
		padding: 10px;
		background-color: #eee;
	}
</style>
<script type="text/javascript">
	var swiper = new Swiper(".blog-swiper", {
        loop: true,
        breakpoints: {
        	768: {
        		slidesPerView: 2,
        		spaceBetween: 10
        	},
        	1024: {
        		slidesPerView: 2,
        		spaceBetween: 40
        	}
        },
        navigation: {
          nextEl: ".blog-swiper-next",
          prevEl: ".blog-swiper-prev",
        },
	});
</script>
{% schema %}
{
	"name": "Featured Blogs",
	"settings": [
		{
			"type": "text",
			"id": "title",
			"label": "Title",
			"default": "Featured Blogs"
		}
	],
	"blocks": [
		{
			"name": "blog",
			"type": "blog",
			"settings": [
				{
					"type": "article",
					"id": "article",
					"label": "Article"
				}
			]
		}
	]
}
{% endschema %}