<div class="container">
	<div class="recommendation-products">
		<div class="recommendation-header">
			{% if section.settings.title != blank %}
				<h3 class="recommendation-products__title">
					{{ section.settings.title }}
				</h3>
			{% endif %}
			<div class="recommendation-action">
				<a href="/collections/all">Shop All</a>
  			<div class="swiper-button-prev product-swiper-prev"></div>
				<div class="swiper-button-next product-swiper-next"></div>
			</div>
		</div>
		<div class="recommendation-products__container swiper-container product-swiper">
			<div class="swiper-wrapper">
				{% if section.blocks.size > 0 %}
					{% for block in section.blocks %}
						{% include 'collection-card' with: block: block %}
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>
</div>
<style type="text/css">
	.recommendation-products__container {
		position: relative;
	}
	.recommendation-header {
		margin-bottom: 100px;
	}
	.recommendation-header::after {
		content: " ";
		display: table;
		clear: both;
	}
	.recommendation-header .recommendation-products__title {
		float: left;
	}
	.recommendation-header .recommendation-action {
		float: right;
		text-transform: uppercase;
		font-size: 18px;
	}
	.recommendation-products__title {
		font-size: 24px;
		text-align: left;
		text-transform: uppercase;
		margin-bottom: 0;
	}
	.product-card-slider__content {
		text-align: center;
	}
	.product-card-slider__image {
		text-align: center;
	}
	.recommendation-products {
		margin-bottom: 100px;
	}
	.recommendation-action {
		display: flex;
	}

	@media(max-width:  768px) {
		.recommendation-header .recommendation-action {
			float: left;
		}	
	}
	.recommendation-action .swiper-button-next, .recommendation-action .swiper-button-prev {
		color: #000;
		width: 30px;
    height: 30px;
    position: relative;
    top: 16px;
    left: 0;
	}
	.recommendation-action a {
		text-decoration: underline;
		text-underline-offset: 2px;
	}
	.recommendation-action .swiper-button-next::after, .recommendation-action .swiper-button-prev::after {
		font-size: 20px;
	}
	.collection-card__image {
		margin-bottom: 30px;
		object-fit: cover;
	}
	.collection-card__title {
		text-align: left;
		margin-bottom: 0;
	}
	.recommendation-products__container.swiper-container {
		margin-bottom: 0;
	}
</style>

<script type="text/javascript">
	var swiper = new Swiper(".product-swiper", {
        loop: true,
        slidesPerView: 2.2,
        spaceBetween: 10,
        breakpoints: {
        	768: {
        		slidesPerView: 3,
        		spaceBetween: 10,
        	},
        	1024: {
        		slidesPerView: 5,
        		spaceBetween: 20
        	}
        },
        navigation: {
          nextEl: ".product-swiper-next",
          prevEl: ".product-swiper-prev",
        },
	});
</script>
{% schema %}
{
	"name": "Favorite Collection",
	"settings": [
		{
			"type": "text",
			"id": "title",
			"label": "Title",
			"default": "Favorite Collection"
		}
	],
	"blocks": [
		{
			"name": "Collections",
			"type": "collections",
			"settings": [
				{
					"type": "collection",
					"id": "collection",
					"label": "collection"
				},
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image"
				}
			]
		}
	]
}
{% endschema %}