<!-- /templates/404.liquid -->
<br><h2>Opps, our mistake! We are in the process of correcting the issue so that the page is up and running again!</h2>
<p>
 
  <a {% if settings.enable_multilang %}data-translate="general.404.click_here"{%endif%} href="/collections/all">
	{{ 'general.404.click_here' | t }}
  </a>
  <span {% if settings.enable_multilang %}data-translate="general.404.continue_shopping"{%endif%}>
    {{ 'general.404.continue_shopping' | t }}
  </span>
</p>