{% include 'breadcrumb' %}

{% if settings.collection_results_per_page != blank %}
  {% assign product_per_page = settings.collection_results_per_page %}
{% else %}
  {% assign product_per_page = 20 %}
{% endif %}

{% paginate collection.products by 1000 %} 
{% for product in collection.products %}
<div class="bold-bundle" data-product-id="{{ product.id }}"&gt ></div>
{% endfor %}
{% endpaginate %}

<style>
 .bold-bundle{
 display:inherit; 
 }
 .bold-bundles-widget{
 margin: 5px; 
 margin-left: 3%;
 margin-right: 3%;
 }
 @media only screen and (min-width: 651px) { 
 .bold-bundles-widget-item.bold-bundles-widget-item--product {
 max-width: 20% !important;
 }
 }
 .bold-bundles-widget__footer{
 display: flex;
 justify-content: center;
 } 
 .bold-bundles-widget-item__info {
 text-align: center;
 }
</style>

{% if settings.display_recently_viewed_products %}
{% include 'recently-viewed-products' %}
{% endif %}
