<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
{% include 'homepage-flexslider' %}

<div class="container">
  {% section 'home-icons' %}
</div>


<div class="visible-xs" style="height: 50px"></div>

{% comment  %} Block Three Banner {% endcomment %}
{% include 'homepage-block-three-banner' %}

{% comment %} Block New Arrivals {% endcomment %}
{% include 'homepage-block-new-arrivals' %}

{% comment %} Block Banner Bootom 
{% include 'homepage-block-three-banner-bottom' %}
{% endcomment %}

{% section 'home-product-recommendations' %}

{% section 'home-carousel' %}

{% section 'home-sliders' %}

{% comment %} Block Trending Now {% endcomment %}
{% include 'homepage-block-trending' %}
<br><br><br>

{% comment  %} Block Banner {% endcomment %}
{% include 'homepage-block-banner' %}

{% comment %}
  This is the homepage of your site.
  More info on global variables (available on all templates):
    - http://docs.shopify.com/themes/liquid-variables/global
{% endcomment %}



{% include 'homepage-instagram' %}

{% comment %} Block Brands Slider {% endcomment %}
{% include 'brands' %}
